*{
    padding: 0;
    margin: 0;
    font-family: 'Caveat', cursive, Calibri, Tahoma, sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    flex: auto;
    align-items: center;
    position: relative
}

.game::before { 
    content: "";
    position: absolute;  
    background-image: url(images/elephants.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(151, 174, 179);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    position: relative;
    max-height: fit-content;
}

.titleSwahili {
    font-size: 48px;
    font-weight: 600;
}

.titleEnglish {
    
    font-size: 32px;
    font-weight: 400;   
}

.score {
    display: flex;
    font-size: 16px;
    flex: auto;
    padding-top: 26px;
  
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 80%;
    
}


.computerCounter  {
    
    text-align: center;
    
    font-size: 32px;
}

.playerCounter  {
    
    text-align: center;
    
    font-size: 32px;
}

.choose {
    font-weight: 500;
    font-size: 36px;
    padding-top: 0;
    position: absolute;
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    
}

.movesleft {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
   
    
    padding-top: 100px;
}

.options {
    position: absolute;
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    
}

button {
    padding: 8px; 
    font-size: 24px;
    background-color: #ee9764;
    border-radius: 8px;
    
    cursor: pointer;
}

.reload {
    display: none;
    position: relative;
    margin-bottom: 40px;
    background-color: #ee9764;
   
    cursor: pointer;
    font-size: 18px;
    
}

.result {
    font-size: 24px;
    display: flex;
    border: #633920;

    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    background-color: #ee9764;
    
}

@media screen and (max-width: 470px)
{  
   
    
    .options{
        width: 80vw;
    }

    .choose {
        font-weight: 500;
        font-size: 24px;     
    }

    button {    
        font-size: 16px;
    }
    
    .titleSwahili {
        font-size: 28px;
    }
    
    .titleEnglish { 
        font-size: 20px;
    }
    
    .score {
        font-size: 14px;
        padding-top: 36px;   
    }
    
    
    .computerCounter  {
        font-size: 20px;
    }
    
    .playerCounter  {
        font-size: 20px;
    }

    .title {
        padding-top: 50px;    
    }

    .result {
        font-size: 18px;
    }

    .game {
        
        height: 100vh;
    }
    